<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= render 'attribute_rows', presenter: presenter %>
    <%= presenter.attribute_to_html(:permission_badge, label: 'Visibility') %>
    <%= presenter.attribute_to_html(:embargo_release_date) %>
    <%= presenter.attribute_to_html(:lease_expiration_date) %>
    <%= presenter.attribute_to_html(:rights) %>
  </tbody>
</table>

<!--
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
      <li role="presentation"><a href="#permissions" aria-controls="permissions" role="tab" data-toggle="tab">Permissions</a></li>
      <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Stats</a></li>
      <li role="presentation"><a href="#technical-info" aria-controls="technical-info" role="tab" data-toggle="tab">Technical Info</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="info">
        <p class="description">This is a longer description of the item as given to us by the author. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>
        <p class="creator">Creator: Firstname Lastname</p>
        <p class="subjects">Subjects: <a href="#">Subject 1</a>, <a href="#">Subject 2</a></p>
        <p class="date">Date: Year</p>
        <p class="chapter">Related Chapter: Chapter 1</p>
        <p class="tags">Keywords/Tags: <a href="#">Tag 1</a>, <a href="#">Tag 2</a>, <a href="#">Tag 3</a>, <a href="#">Tag 4</a></p>
        <p class="">DOI: <a href="#">http://dx.doi.org/10.3998/123456789</a></p>
      </div> <!-- /.info panel -->
      <div role="tabpanel" class="tab-pane fade" id="permissions">
        <p class="creator">Copyright holder: Institution</p>
        <p class="subjects">License: Creative Commons</p>
      </div> <!-- /.permissions panel -->
      <div role="tabpanel" class="tab-pane fade" id="stats">
        <p>Altmetric data</p>
        <p>Pageviews</p>
        <p>Downloads</p>
      </div> <!-- /.stats panel -->
      <div role="tabpanel" class="tab-pane fade" id="technical-info">
        <p class="filetype">File type: WAV Audio</p>
        <p class="filesize">File size: 35.4 MB</p>
        <p class="duration">Duration: 12min 36sec</p>
      </div> <!-- /.technical-info panel -->
    </div> <!-- /.tab-content Tab panes -->
    <!-- Object Actions -->
    <div class="actions">
      <button type="button" class="btn btn-default btn-lg download">Download</button>
      <button type="button" class="btn btn-default btn-lg cite">Cite</button>
      <div class="btn-group share">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Google+</a></li>
          <li><a href="#">Reddit</a></li>
          <li><a href="#">Mendeley</a></li>
          <li><a href="#">Cite U Like</a></li>
        </ul>
      </div>
    </div><!-- actions -->
  </div>
</div>
